[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
fastapi = {extras = ["all"], version = "*"}
asyncpraw = "*"
loguru = "*"
slowapi = "*"

[scripts]
start = "uvicorn api:app --reload"
prod = "uvicorn api:app --reload --host=0.0.0.0"
