[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
fastapi = {extras = ["all"], version = "*"}
asyncpraw = "*"
loguru = "*"
slowapi = "*"
aiohttp = "*"
beautifulsoup4 = "*"
html2text = "*"
python-aiml = "*"
fastapi-plugins = "*"

[scripts]
start = "uvicorn api:app --reload"
